<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DACNapp"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config">
        
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.contact.ContactActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.profile.ProfileDetailActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.profile.ChangePasswordActivity"
            android:exported="false"/>
            
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.order.OrdersActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.order.OrderDetailActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.feedback.ReviewsActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.product.ProductDetailActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.dashboard.CategoryProductsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.checkout.CheckoutActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <!-- ĐÃ CHỈNH SỬA PHẦN NÀY -->
        <activity
            android:name=".ui.checkout.OrderSuccessActivity"
            android:exported="true"
            android:launchMode="singleTop">
            
            <!-- Cấu hình Deep Link để nhận phản hồi từ PayPal -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Phải khớp với link backend trả về: dacnapp://payment/success -->
                <data
                    android:scheme="dacnapp"
                    android:host="payment"
                    android:path="/success" />
            </intent-filter>
        </activity>

    </application>

</manifest>